.cart {
  padding: 10px 20px;
  text-align: center;
}

.list {
  margin-top: 30px;
}

.item {
  height: 150px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

.item:not(:last-of-type) {
  margin-bottom: 20px;
}

.itemImg {
  height: 100%;
}

.itemName {
  margin: 0px 20px;
}

.itemBtn {
  margin-left: auto;
}