/* Catalog */
.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* CatalogItem */
.card {
  min-width: 500px;
  height: 300px;
  margin: 30px;
  padding: 30px;
  flex: 1;
  display: flex;
  align-items: center;
}

.itemImage {
  height: 100%;
}

.itemName {
  margin-bottom: 10px;
}

.itemProps {
  margin-left: 50px;
}

.toCart {
  max-width: 250px;
  margin-top: 20px;
}
